/* GENERAL */
.page-section{
    width: 100%;
    height: 500px;
}

/* SECTIONS */

#section-about{
    background-color: white;
}


#section-skills{
    background-color: black;
}


#section-projects{
    background-color: white;
}


#section-git{
    background-color: black;
}


#section-contact{
    background-color: white;
}
