
/* FOOTER */

#section-footer{
    background-color: #111517;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-box{
    width: 450px;
    height: 300px;
    margin: 30px;
}

.menu_links_footer{
    text-decoration: none;
}

.menu_links_footer:link {
    color: #808080;
    text-decoration: none;
}
  
.menu_links_footer:visited {
    color: #808080;
    text-decoration: none;
}

.menu_links_footer:hover {
    display: inline-block;
    position: relative;
    color: white;
}

.menu_links_footer:hover:before {
    content: "";
    position: absolute;
    background: #00ffc3;
    color: white;
    top: 10px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    left:-10px;
}

.menu_links_footer:active {
    color: #808080;
    text-decoration: none;
}