/* GENERAL */
body{
    background-color: #101214;
    color: #ffffff;
}

.bg{
    position: fixed;
    background-image: url(../img/stripe.png);
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    pointer-events: none;
    opacity: 0.1;
    left: 0;
    top: 0;
}

.page-section{
    height: 100vh;
}

.vcenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hide-me{
    display: none;
}

hr{
    margin-top: 5px;
    margin-bottom: 10px;
    border-width: 0;
    border-top: 1px solid #7A7C80;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
    margin-right: 5px;
    margin-left: 5px;
}

/* LINKKS */
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #adb0b6;
}

a:active {
    color: #7A7C80;
}

/* LIST */
ul {
    list-style: none;
}



/* TOOLTIP*/
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 110%;
    font-size: 12px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ABOUT LEFT SIDE */
.top-img{
    overflow: hidden;
    height: 42px;
    margin-bottom: 5px;
}

.top-img-svg{
    width: 100%;
    height: 60px;
    margin-bottom: 25px;
}

.about-title{
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
    color: #f1c40f;
    /*-webkit-animation: changecolor 40s infinite alternate;*/
}

@-webkit-keyframes changecolor {
    0% {color: blue;}
    10% {color: red;}
    20% {color: yellow;}
    30% {color: pink;}
    40% {color: blue;}
    50% {color: purple;}
    60% {color: cyan;}
    70% {color: teal;}
    80% {color: brown;}
    90% {color: gold;}
    100% {color:salmon;}
}

.about-pos{
    font-family: 'Oswald', sans-serif;
    color: #adb0b6;
    margin-bottom: 10px;
}

.about-desc{
    color: #7A7C80;
}

.about-img{
    height: 20px;
    padding: 10px;
    transition: 0.3s;
}

.about-img:hover{
    background-color: rgba(128, 127, 122, 0.2);
}

.external-links{
    width: 130px;
}


/* PROJECTS RIGHT SIDE */
.projects-title{
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
}

.blinkdot span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
}
.blinkdot span:nth-child(2) {
    animation-delay: .2s;
}

.blinkdot span:nth-child(3) {
    animation-delay: .4s;
}

@keyframes blink {
    0% {opacity: .2;}
    20% {opacity: 1;}
    100% {opacity: .2;}
}

.page-lists{
    color: #7A7C80;
    overflow-y: scroll;
    height: auto;
    max-height: 400px;
    min-height: 300px;
}

.scroll::-webkit-scrollbar {
    width: 5px;
  }
   
.scroll::-webkit-scrollbar-thumb {
    background: #7A7C80; 
}


/* CODE TAGS */

.legend-container{
    display: flex;
    justify-content: space-between;
    color: #7A7C80;
    font-weight: bold;
    font-style: italic;
    font-size: 10px;
    margin-bottom: 10px;
}

.tags-container{
    font-style: italic;
}

.filter-tag{
    color: #7A7C80;
    border: solid #7A7C80 1px;
    cursor: pointer;
    transition: 0.3s
}

.filter-tag:hover{
    background-color: rgba(122, 124, 128, 0.3);
}

.filter-text{
    color: #7A7C80;
    font-weight: bold;
    font-size: 10px;
}

.code-tags{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5px;
    height: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag-html{
    color: #e34c26;
    border: solid #e34c26 1px;
}

.tag-css{
    color:#563d7c;
    border: solid #563d7c 1px;
}

.tag-javascript{
    color:#f1e05a;
    border: solid #f1e05a 1px;
}

.tag-python{
    color:#3572A5;
    border: solid #3572A5 1px;
}

.tag-shell{
    color:#89e051;
    border: solid #89e051 1px;
}

/* BOTTOM FOOTER*/

.bottom-footer{
    margin-top: 10%;
    font-size: 10px;
    text-align: center;
    color: #7A7C80;
}

.bottom-footer-text{
    margin-bottom: 0px;
}