/* GENERAL */
body{
    background-color: #101214;
    color: #ffffff;
}

.bg{
    position: fixed;
    background-image: url(../img/stripe.png);
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    pointer-events: none;
    opacity: 0.1;
    left: 0;
    top: 0;
}

.page-section{
    height: 100vh;
}

.vcenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hide-me{
    display: none;
}

hr{
    margin-top: 5px;
    margin-bottom: 10px;
    border-width: 0;
    border-top: 1px solid #7A7C80;
}

/* LINKKS */
a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: #adb0b6;
}

a:active {
    color: #7A7C80;
}

/* LIST */
ul {
    list-style: none;
}

/* TOOLTIP*/
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
    font-size: 12px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* ABOUT LEFT SIDE */
.about-title{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

.about-pos{
    font-family: 'Oswald', sans-serif;
    color: #adb0b6;
    text-align: center;
    margin-bottom: 10px;
}

.about-desc{
    color: #7A7C80;
    text-align: center;
}

.about-img{
    height: 20px;
    padding: 10px;
}

.external-links{
    width: 100%;
    margin: 0 auto;
    width: 130px;
}


/* PROJECTS RIGHT SIDE */
.projects-title{
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
}

.page-lists{
    color: #7A7C80;
    overflow-y: scroll;
    height: auto;
    max-height: 400px;
    min-height: 300px;
}

.scroll::-webkit-scrollbar {
    width: 5px;
  }
   
.scroll::-webkit-scrollbar-thumb {
    background: #7A7C80; 
}


/* CODE TAGS */

.tags-container{
    margin-bottom: 10px;
}

.filter-tag{
    color: #7A7C80;
    border: solid #7A7C80 1px;
    cursor: pointer;
}

.filter-text{
    color: #7A7C80;
    font-weight: bold;
    font-size: 10px;
}

.code-tags{
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5px;
    height: 14px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tag-html{
    color: #e34c26;
    border: solid #e34c26 1px;
}

.tag-css{
    color:#563d7c;
    border: solid #563d7c 1px;
}

.tag-javascript{
    color:#f1e05a;
    border: solid #f1e05a 1px;
}

.tag-python{
    color:#3572A5;
    border: solid #3572A5 1px;
}

.tag-shell{
    color:#89e051;
    border: solid #89e051 1px;
}

/* BOTTOM FOOTER*/

.bottom-footer{
    margin-top: 10%;
    font-size: 10px;
    text-align: center;
    color: #7A7C80;
}

.bottom-footer-text{
    margin-bottom: 0px;
}