/* GENERAL */

body{
    font-family: 'Rubik', sans-serif;
    background-image: url("../img/cubes.png");
    background-repeat: repeat;
}

.vcenter{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.hide-me{
    display: none;
}

::placeholder { 
    color: rgb(87, 87, 87); 
} 
  
:-ms-input-placeholder { 
    color: rgb(87, 87, 87); 
} 
  
::-ms-input-placeholder {
    color: rgb(87, 87, 87); 
} 

/* SEPARATOR */
.section_separator{
    position: relative;
    height: 100px;
}

.svg_slant{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
}

.section_separator_hr{
    width: 100%;
    height: 10px;
    /*background-color: #216225;*/
    background-image: linear-gradient(to right, #38B040,#2D8933,#216225,#2D8933, #38B040);
}

/* LINKS */
/* unvisited link */
.nav_link:link {
    color: #212529;
}

/* visited link */
.nav_link:visited {
    color: #212529;
}

/* mouse over link */
.nav_link:hover {
    color: #216225;
}

/* selected link */
.nav_link:active {
    color: #212529;
}

/* NAVIGATION */
.navigation_menu{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.navigation_menu_container{
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
}

.nav_menu_left{
    width: 50%;
    height: 100%;
    float: left;
}

.nav_menu_right{
    width: 50%;
    height: 100%;
    float: right;
}

.logo_menu_container{
    margin: 0 auto;
    width: 100px;
    border-bottom: 5px solid #38B040;
}

.logo_menu{
    font-size: 2.5em;
}

.navigation_menu_open{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 5;
    top: 0;
}

.nav_open_menu{
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.nav_open_menu_link{
    font-size: 3em;
}

.nav_menu_btn{

}

/***** SECTION *****/
.page_section{
    position: relative;
    width: 100%;
    height: 700px;

}

.section_container{
    padding-top: 5%;
    padding-bottom: 5%;
}

.section_banner{

}

/*
ABOUT
*/

.section_about{
    background-color: #0E0E0E;
    height: auto;
    text-align: center;
}



/*
SKILLS
*/
.section_skills{
    height: auto;
}

.skills_row{

}

.light_title{
    color: #212529;
}

.light_hr{
    background-color: #38B040;
    height: 5px;
    width: 40%;
    margin-bottom: 5%;
}

.light_desc_text{
    color: #212529;
}

.skills_box_container{
    width: 100%;
    /* height: 375px; */
    margin-bottom: 5%;
}

.skills_box{
    width: 97%;
    /* height: auto; */
    margin: 0 auto;
    transition: 0.3s;
    padding: 15px;
}

.skills_icon{

}

.skills_icon_img{
    width:64px;
}

.skills_title{

}

.skills_desc{
    font-weight: lighter;
}


/*
PROJECTS
*/
.section_projects{
    background-color: #0E0E0E;
    height: auto;
}

.projects_row{
    padding-top: 5%;
    padding-bottom: 5%;
}

.project_box{
    background-color: rgb(29, 29, 29);
    width: 300px;
    height: 300px;
    margin-bottom: 20%;
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.4);
}

.dark_title{
    text-align: center;
    color: white;
}

.dark_hr{
    background-color: #38B040;
    height: 5px;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 5%;
}

.dark_desc_text{
    color: grey;
}



/*
WORK
*/
.section_work{
    background-color: #38B040;
    position: relative;
    z-index: 1;
}

.section_work_bg{
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../img/circuit1.jpg') center center;
    opacity: 0.1;
    width: 100%;
    height: 100%;
}

.page_section_container{
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.work_btn{
    width: 210px;
    border: 4px solid #216225;
    border-radius: 25px;
    margin: 0 auto;
    transition: 0.3s;
}

.work_btn:hover{
    background-color: #216225;
    transition: 0.3s;
}

.work_btn_text{
    font-size: 1.5em;
    color: white;
}


/* 
CONTACT 
*/

.section_contact{
    position: relative;
    background-color: #282828;
    font-family: 'Teko', sans-serif;
    color: white;
    height: auto;
}

.contact_logo{
    border: 9px solid #38B040;
    width: 143px;
    height: 77px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact_logo_text{
    font-size: 3em;
    text-align: center;
}

.contact_social{
    padding-bottom: 20px;
}

.contact_social_img{
    float: left;
    height: 35px;
}

.contact_projects{

}

.contact_title{
    width: 100%;
    text-align: center;
    font-size: 1.5em;
}

.contact_separator{
    width: 50%;
    height: 2px;
    background-color: #38B040;
    border-radius: 25px;
}

.contact_text{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: grey;
}

.message_title{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
}

.message_text{
    width: 100%;
    color: white;
    font-size: 1.5em;
}

.message_txtbox{
    width: 100%;
    background-color: rgb(170, 170, 170);
    border: none;
    color: #0E0E0E;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
}

.message_textarea{
    width: 100%;
    height: 140px;
    background-color: rgb(170, 170, 170);
    resize: none;
    border: none;
    color: #0E0E0E;
    font-family: 'Rubik', sans-serif;
    font-weight: lighter;
}

.message_btn{
    width: 100px;
    height: 40px;
    border: 6px solid green;
    margin-top: 10px;
    transition: 0.3s;
}

.message_btn:hover{
    background-color: green;
    transition: 0.3s;
}

.message_btn_text{
    font-size: 1.5em;
    text-align: center;
}



/* 
FOOTER 
*/

.section_footer{
    height: 100px !important;
    background-color: #1f1f1f;
}

.footer_text{
    color: #3b3b3b;
}